reference*
releases
build
demos/node/output
node_modules
graphs
.eslintcache
.DS_Store
*.lock
ruby_sess.*
.*.swp
.*.swo
.swp
.hi
.[oa]
*.pyc
.svn
.class

# Ignore gradle files
.gradle/
build/

# Idea folder minus code style files
.idea/
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml

docs/*.html
docs/public
docs/docco.css
!docs/index.html
npm-debug.log

# Eclipse
.project
.settings/

pnpm-lock.yaml
